<div class="form-group">
    <label for="title"> Title </label>
    <input 
        type="text"
        name="title"
        id="title"
        class="form-control"
        placeholder="Enter title"
        required
        value="<%= article.title %>"
    />
</div>

<div class="form-group">
    <label for="description"> Description </label>
    <textarea 
        name="description"
        id="description"
        class="form-control"
        placeholder="Enter description"
        required
    ><%= article.description %></textarea>
</div>

<div class="form-group">
    <label for="content"> Content </label>
    <textarea 
        name="content"
        id="content"
        class="form-control"
        rows="10"
        placeholder="Enter the content of the article"
        required
    ><%= article.content %></textarea>
</div>

<button class="btn btn-danger btn-lg mr-2"> Submit </button>
<a href="/user/articles" class="btn btn-dark btn-lg mt-4 d-inline"> Cancel </a>