<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<h1 class="mt-4 text-center"> Oops! Page not found! </h1>
<hr>
<h2 class="mt-4 text-center"> Back to <a href="/user/feed"> <strong> Feed </strong> </a> </h2>