<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<h1 class="mb-4"> Edit article </h1>

<form action="/user/articles/<%= article.id %>?_method=PUT" method="post">
    <%- include('./partials/form') %>
</form>