<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<div class="card mt-4 mb-2 border-dark">
    <h1 class="card-header text-center">
      Markdown Cheat Sheet
    </h1>
    <div class="card-body" style="background-color: aliceblue;">

        <div class="card-text">
            <p> <strong> # Header </strong> for the LARGEST HEADING. </p>
            <hr>
            <p> <strong> ## Header </strong> for the SECOND LARGEST HEADING and so on. </p>
            <hr>
            <p> <strong> ###### Header </strong> for the SMALLEST HEADING. </p>
            <hr>
            <p> <strong> *text* </strong> for the text to be rendered in ITALICS. </p>
            <hr>
            <p> <strong> **text** </strong> for the text to be rendered in BOLD. </p>
            <hr>
            <p> <strong> ~~text~~ </strong> for the text to be STRIKED OUT. </p>
            <hr>
            <p> <strong> --- </strong> to insert a HORIZONTAL LINE. </p>
            <hr>
            <p> <strong> [Text](site URL) </strong> for a HYPERLINK. </p>
            <hr>
            <p> <strong> ![Text](image location) </strong> for an IMAGE. </p>
            <hr>
            <p> <strong> * text </strong> for a BULLETED TEXT. </p>
            <hr>
            <p> <strong> 1. text </strong> for a NUMBERED TEXT. </p>
            <hr>
            <p> <strong> `code block` </strong> to display a CODE. </p>
            <hr>
            <h4> <u> Useful tips: </u> </h4>
            <ul>
                <li> To move to a <strong> NEW LINE </strong>, give TWO spaces and then press 'ENTER'. </li>
                <li> To move to a <strong> NEW PARAGRAPH </strong>, press 'ENTER' twice. </li>
                <li> To render all the special characters used above as it is, prefix them with a BACKSLASH. </li>
                <li> Keep in mind the spaces in all the above syntaxes. </li>
                <ul> <li> For instance, # Heading and #Heading will yield different results. </li> </ul>
            </ul>
        </div>

    </div>
</div>