<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<h1 class="mb-3 mt-2 text-center"> New Article </h1>

<p class="text-center mt-4"> <i> The content is rendered as per the <strong> markdown syntax. 
    <a href="/user/help" target="_blank"> Visit </a> </strong> to know more. </i> </p>
<hr>
<form action="/user/articles" method="POST">
    <%- include('./partials/form') %>
</form>