<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<h1 class="mb-3 mt-2 text-center"> New Article </h1>

<form action="/user/myarticles" method="POST">
<%- include('./partials/form') %>
</form>